apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: sharksdemo
  name: sharksdemo
spec:
  replicas: 3
  selector:
    matchLabels:
      app: sharksdemo
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: sharksdemo
    spec:
      containers:
      - image: akula05/node_project1
        name: sharksdemo
        resources: {}
status: {}
---
apiVersion: v1
kind: Service
metadata:
  name: lb-service
  labels:
    app: lb-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 5000
  selector:
    app: sharksdemo